langchain>=0.2.0
langchain-community>=0.0.20
langchain_google_genai
langchainhub
langchain_openai
langchain-huggingface
fastapi
uvicorn
python-dotenv
unstructured[pdf]
pypdf
sentence-transformers
faiss-cpu
rank_bm25 
requests
PyMuPDF